html {
    box-sizing: border-box;
}

/* setting border-box as the default for box-sizing for whole project */

header, footer {
    text-align: center;
    background-color: #f1aaae;
    color: #553739;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
}

/* general styling for header and footer section */

.align-center {
    text-align: center;
}

/* created class to align specific text to center */

main {
    background-color: #748e54;
    color: #553739;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

/* general styling for main section */

a:link {color: #955e42;}
a:visited {color: gray;}
a:hover {color: green;}
a:active {color: blue}

/* pseudo-classes for the links in the contact section */

hr {
    height: 10px;
}

/* setting height of the horizontal rules */

.wrapper {
    width: 350px;
    margin: auto;
}